.listTitle {
  font: var(--font-heading);
}

.itemContainer {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}

.listContainer {
  margin-top: 3rem;
}

.errorModalText {
  color: var(--color-tse-navy-blue);
}
